<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2pytu4nF1mXMWn7QFa2U6MRt8TCWT5DA</string>
	<key>GCM_SENDER_ID</key>
	<string>916543500329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hindiTutorial</string>
	<key>PROJECT_ID</key>
	<string>hindi-9fad0</string>
	<key>STORAGE_BUCKET</key>
	<string>hindi-9fad0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916543500329:ios:c9987b6426a816b0c86c38</string>
</dict>
</plist>